#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center; 
}

body{
  background-color: #001233;
  /* z-index: -1; */
}

.manShoes{
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
}

.modal{
  position: absolute;
  bottom: 0.5%;
  /* height: 100vh; */
  left: 5%;
  background-color: #001233;
  border-radius: 1rem;
  z-index: 1000;
}

/* Adjust the dropdown menu background or text color */
.dropdown-menu {
  background-color: white; /* Set to white for better contrast */
}

.dropdown-item {
  color: black; /* Ensure contrast against the background */
}

/* Ensure dropdown menu appears above other content */
.dropdown-menu {
  z-index: 1050; /* Set higher than .modal if needed */
}


@media (min-width: 767px) {
  .modal{
    left: 39%;
  }
}