#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
 
}
body{
  background-color: #001233;
  /* z-index: -1; */
}

.manShoes{
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
}
.modal{
  position: absolute;
  bottom: 0.5%;
  left: 5%;
  background-color: #001233;
  border-radius: 1rem;
  z-index: 1000;
}
@media (min-width: 767px) {
  .modal{
    left: 39%;
  }
}